<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="nGratis (COP) Rules" Description="This rule set contains minimum rules for nGratis (Community of Practice) projects." ToolsVersion="14.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
</RuleSet>